html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  height: 15vh;
}

header h2 {
  margin: 0;
  padding: 8px;
}

main {
  height: calc(85vh - 32px);
  padding: 16px;
  text-align: center;
  background-color: whitesmoke;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

.btn-outlined {
  background-color: #2c3e50;
  border: none;
  color: white;
  border: 1px whitesmoke solid;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
}

.btn-outlined:hover {
  background-color: white;
  color: #2c3e50;
}

.quiz-info {
  display: flex;
  height: fit-content;
  justify-content: space-between;
  width: 100%;
}

.question-no {
  color: #e67e22;
  font-size: 1.2rem;
}

.topic {
  font-weight: 600;
  font-size: 1.5rem;
  color: #2c3e50;
}

.btn-save {
  background: #2c3e50;
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
}

.btn-save:hover,
.btn-ques-nav:hover {
  background: #ffffff;
  border: 1px solid #2c3e50;
  color: #2c3e50;
}

.quiz-card {
  width: 100%;
  max-width: 600px;
  margin: 16px auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
  user-select: none;
}

.quiz-title {
  font-size: 1.3rem;
  text-align: justify;
}

.quiz-subtitle {
  font-size: 1.2rem;
  color: #747272;
}

.quiz-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  row-gap: 16px;
}

.quiz-answer {
  background: #ecf0f1;
  width: calc(50% - 40px);
  padding: 16px;
  text-align: left;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.quiz-answer:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.4);
}

.quiz-actions {
  position: absolute;
  bottom: 8px;
  left: 0px;
  width: calc(100vw - 32px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin: 16px;
}

.quiz-progress-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  height: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.quiz-progress {
  width: 20%;
  background-color: #e67e22;
  border-radius: 10px;
}

.btn-ques-nav {
  display: flex;
  gap: 16px;
  align-items: center;
  border: 1px solid whitesmoke;
  background-color: #2c3e50;
  color: #ffffff;
  font-weight: 600;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
}

.arrow {
  width: 10px;
  fill: white;
}

.btn-ques-nav:hover .arrow {
  fill: #2c3e50;
}

.quiz-progress-container .tooltiptext {
  visibility: hidden;
  width: 50px;
  background-color: #2c3e50;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 20%; /* Change this for tooltip position */
  margin-left: -26px;
  margin-bottom: 2px;
  opacity: 0;
  transition: opacity 0.3s;
}

.quiz-progress-container .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.quiz-progress-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
