html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

header {
  background-color: #2c3e50;
  color: white;
  text-align: center;
}

.header-top {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.header-title {
  font-size: 2rem;
  font-weight: 600;
}
.auth {
  display: flex;
  align-items: center;
  gap: 8px;
}

.avatar {
  padding: 4px 8px;
  background: white;
  color: #2c3e50;
  border: 1px solid #2c3e50;
  border-radius: 16px;
  font-size: 1.2rem;
}

main {
  position: relative;
  min-height: calc(85vh - 32px);
  width: 100vw;
  padding: 16px;
  display: flex;
  justify-content: space-evenly;
  background-color: whitesmoke;
}

.btn-outlined {
  background-color: #2c3e50;
  border: none;
  color: white;
  border: 1px whitesmoke solid;
  border-radius: 4px;
  margin: 8px;
  padding: 8px;
  cursor: pointer;
}

.btn-outlined:hover {
  background-color: white;
  color: #2c3e50;
}

.chart-container {
  width: 100%;
}

.score-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.score {
  font-size: 1.5rem;
}
